table{
    border-spacing: 9px;
}
#a1{
    border:2px solid black;
    background-color: pink;
}
#a2{
    border:2px solid black;
    background-color: pink;
}
#a3{
    border:2px solid black;
    background-color: pink;
}
#a4{
    border:2px solid black;
    background-color: pink;
}
#a5{
    border:2px solid black;
    background-color: yellow;
}
#a6{
    border:2px solid black;
    background-color: yellow;
}
#a7{
    border:2px solid black;
    background-color: yellow;
}
#a8{
    border:2px solid black;
    background-color: yellow;
}
#a9{
    border:2px solid black;
    background-color: yellow;
}
#a10{
    border:2px solid black;
    background-color: yellow;
}
#a11{
    border:2px solid black;
    background-color: pink;
}
#a12{
    border:2px solid black;
    background-color: pink;
}
#a13{
    border:2px solid black;
    background-color: yellow;
}
#a14{
    border:2px solid black;
    background-color: yellow;
}
#a15{
    border:2px solid black;
    background-color: yellow;
}
#a16{
    border:2px solid black;
    background-color: yellow;
}
#a17{
    border:2px solid black;
    background-color: yellow;
}
#a18{
    border:2px solid black;
    background-color: yellow;
}
#a19{
    border:2px solid black;
    background-color: pink;
}
#a20{
    border:2px solid black;
    background-color: pink;
}
#a21{
    border:2px solid black;
    background-color: skyblue;
}
#a22{
    border:2px solid black;
    background-color: skyblue;
}
#a23{
    border:2px solid black;
    background-color: skyblue;
}
#a24{
    border:2px solid black;
    background-color: skyblue;
}
#a25{
    border:2px solid black;
    background-color: skyblue;
}
#a26{
    border:2px solid black;
    background-color: skyblue;
}
#a27{
    border:2px solid black;
    background-color: skyblue;
}
#a28{
    border:2px solid black;
    background-color: skyblue;
}
#a29{
    border:2px solid black;
    background-color: skyblue;
}
#a30{
    border:2px solid black;
    background-color: skyblue;
}
#a31{
    border:2px solid black;
    background-color: yellow;
}
#a32{
    border:2px solid black;
    background-color: yellow;
}
#a33{
    border:2px solid black;
    background-color: yellow;
}
#a34{
    border:2px solid black;
    background-color: yellow;
}
#a35{
    border:2px solid black;
    background-color: yellow;
}
#a36{
    border:2px solid black;
    background-color: yellow;
}
#a-35{
    border:2px solid black;
    background-color: pink;
}
#a-36{
    border:2px solid black;
    background-color: pink;
}
#a37{
    border:2px solid black;
    background-color: skyblue;
}
#a38{
    border:2px solid black;
    background-color: skyblue;
}
#a39{
    border:2px solid black;
    background-color: skyblue;
}
#a40{
    border:2px solid black;
    background-color: skyblue;
}
#a41{
    border:2px solid black;
    background-color: skyblue;
}
#a42{
    border:2px solid black;
    background-color: skyblue;
}
#a43{
    border:2px solid black;
    background-color: skyblue;
}
#a44{
    border:2px solid black;
    background-color: skyblue;
}
#a45{
    border:2px solid black;
    background-color: skyblue;
}
#a46{
    border:2px solid black;
    background-color: skyblue;
}
#a47{
    border:2px solid black;
    background-color: yellow;
}
#a48{
    border:2px solid black;
    background-color: yellow;
}
#a49{
    border:2px solid black;
    background-color: yellow;
}
#a50{
    border:2px solid black;
    background-color: yellow;
}
#a51{
    border:2px solid black;
    background-color: yellow;
}
#a52{
    border:2px solid black;
    background-color: yellow;
}
#a-51{
    border:2px solid black;
    background-color: pink;
}
#a-52{
    border:2px solid black;
    background-color: pink;
}
#a53{
    border:2px solid black;
    background-color: skyblue;
}
#a54{
    border:2px solid black;
    background-color: skyblue;
}
#a55{
    border:2px solid black;
    background-color: skyblue;
}
#a56{
    border:2px solid black;
    background-color: skyblue;
}
#a57{
    border:2px solid black;
    background-color: skyblue;
}
#a58{
    border:2px solid black;
    background-color: skyblue;
}
#a59{
    border:2px solid black;
    background-color: skyblue;
}
#a60{
    border:2px solid black;
    background-color: skyblue;
}
#a61{
    border:2px solid black;
    background-color: skyblue;
}
#a62{
    border:2px solid black;
    background-color: skyblue;
}
#a63{
    border:2px solid black;
    background-color: yellow;
}
#a64{
    border:2px solid black;
    background-color: yellow;
}
#a65{
    border:2px solid black;
    background-color: yellow;
}
#a66{
    border:2px solid black;
    background-color: yellow;
}
#a67{
    border:2px solid black;
    background-color: yellow;
}
#a68{
    border:2px solid black;
    background-color: yellow;
}
#a69{
    border:2px solid black;
    background-color: pink;
}
#a70{
    border:2px solid black;
    background-color: pink;
}
#a71{
    border:2px solid black;
    background-color: skyblue;
}
#a72{
    border:2px solid black;
    background-color: skyblue;
}
#a73{
    border:2px solid black;
    background-color: skyblue;
}
#a74{
    border:2px solid black;
    background-color: skyblue;
}
#a75{
    border:2px solid black;
    background-color: skyblue;
}
#a76{
    border:2px solid black;
    background-color: skyblue;
}
#a77{
    border:2px solid black;
    background-color: skyblue;
}
#a78{
    border:2px solid black;
    background-color: skyblue;
}
#a79{
    border:2px solid black;
    background-color: skyblue;
}
#a80{
    border:2px solid black;
    background-color: skyblue;
}
#a81{
    border:2px solid black;
    background-color: yellow;
}
#a82{
    border:2px solid black;
    background-color: yellow;
}
#a83{
    border:2px solid black;
    background-color: yellow;
}
#a84{
    border:2px solid black;
    background-color: yellow;
}
#a85{
    border:2px solid black;
    background-color: yellow;
}
#a86{
    border:2px solid black;
    background-color: yellow;
}

#a87{
    border:2px solid black;
    background-color: lightgreen;
}